body {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  box-sizing: border-box;
  background-color: #f3e8ea;
}

.containerFluid {
  margin-top: 20px;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.bigContainer {
  overflow-y: hidden;
  background-color: white;
  padding: 1.2rem;
  max-width: 1200px;
  width: 80vw;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin-bottom: 30px;
}

.boxShadow {
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
}

.buttonsContainer {
  display: flex;
  width: 70%;
  padding: 0 3%;
  justify-content: space-between;
  margin-bottom: 15px;
}

.buttonsContainer button {
  color: white;
  background-color: #e0244d;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

button .icon {
  margin: 0 5px -1px 0;
}

.buttonsContainer button:hover {
  background-color: #cf2348;
}

@media (max-width: 1100px) {
  .buttons {
    /* Move both buttons to the bottom and make them bigger for mobile view */
    order: 2;
    margin: 20px 0;
  }

  .buttonsContainer button {
    padding: 10px 40px;
  }
}
