.typeDetailsContainer {
	text-transform: capitalize;
	font-weight: 600;
	min-height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.damageRelationsUl {
	display: none;
}

.damageRelationsContainer h2:hover,
.damageRelationsDiv ul {
	cursor: pointer;
}
/* DropDown Functionality */
.damageRelationsDiv,
.item ul,
.itemType ul,
.damageRelationsContainer input[type="checkbox"],
.pokemonsWithTypeContainer .itemType input[type="checkbox"] {
	display: none;
}

#titleCheck:checked ~ .damageRelationsDiv,
.item input:checked ~ ul {
	display: block;
}

.itemType input:checked ~ ul {
	display: grid;
}

/* General Styles*/
.damageRelationsContainer {
	text-transform: capitalize;
	font-weight: 600;
}

.itemType {
	display: grid;
	justify-content: center;
}

.itemType label {
	border: 1px solid rgba(0, 0, 0, .4);
	padding: 5px 25px;
}

/* Dropdown Styling*/
.damageRelationsContainer {
	user-select: none;
}

.damageRelationsContainer h2 {
	padding: 5px 15px;
	border: 2px solid rgba(0, 0, 0, .3);
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;
}

.item ul,
.itemType ul {
	transition: 100ms ease-in-out display;
}

.damageRelationsContainer h2 .icon {
	position: absolute;
	right: 12px;
}

.damageRelationsDiv ul {
	user-select: none;
	text-align: center;
	width: 100%;
	padding: 5px 0;
	border: 2px solid rgba(0, 0, 0, .4);
}

.item ul li {
	padding: 5px 0;
}

.item {
	user-select: none;
	padding: 5px 15px;
	background-color: rgba(0, 0, 0, .2);
	border: 2px solid rgba(0, 0, 0, .2);
	margin: 5px 0;
}

.item,
.itemType,
.itemType label,
.item label {
	cursor: pointer;
	position: relative;
	z-index: 0;
}

.damageRelationsDiv ul,
.pokemonsWithTypeContainer {
	position: relative;
	z-index: 0;
}

.pokemonsWithTypeContainer {
	width: 100%;
}

.pokemonsWithTypeContainer ul {
	grid-template-columns: repeat(5, 200px);
}

.item ul:hover::before,
.item:hover::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .2);
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0px;
}

@media (max-width: 1600px) {
	.pokemonsWithTypeContainer ul {
		grid-template-columns: repeat(5, 170px);
	}
}

@media (max-width: 1250px) {
	.pokemonsWithTypeContainer ul {
		grid-template-columns: repeat(4, 170px);
	}
}

@media (max-width: 900px) {
	.pokemonsWithTypeContainer ul {
		grid-template-columns: repeat(3, 170px);
	}
}
