@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");
nav {
  max-width: 1200px;
  width: 80vw;
  margin: 0 auto;
}

.insideContainer {
  margin: 0 auto;
  background-color: white;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  padding: 1rem 0;
  font-family: "Nunito";
}

.insideContainer > a > h1 {
  font-size: 2.5rem;
}

.btn {
  height: 100%;
  padding: 12px 14px;
  border: none;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: 600;
  font-family: "Nunito";
  border-radius: 8px;
}

.search-btn {
  background-color: #d11544;
  color: white;
  margin: 20px;
}

.inputSearch {
  width: 90%;
  max-width: 200px;
  background: rgba(0, 0, 0, 0.05);
  border: none;
  outline: none;
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  .insideContainer {
    min-width: 90% !important;
  }
}
