.details-bio-main {
  width: 100%;
}

.detailsImage {
  display: flex;
  margin: 0 auto;
}

.detailsImage > div {
  margin: 0 auto;
}

.detailsImage .shinyView {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.types {
  display: flex;
}

.types > div > h3 {
  margin: 0 auto;
  text-align: center;
}

.types > div > p {
  padding: 0 0.6rem;
}

.types > .weak-against {
  margin-left: 10px;
}
